h1,h3{
    text-align: center;
}
#addButton{
    
    align-items: right;
    justify-content: right;
    text-align: right;
}

body {
	background: linear-gradient(-45deg, #ff0606, #000000, #0c00f9, #ff00cc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#inputBox{
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: lightpink;
    font-size: 1rem;
    border: hidden;
    margin-top: 5rem;
    background: white;
    
}
input{
    background: rgb(106, 104, 104);
    color:white;
    border: hidden;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 30rem;
    margin: 1rem;
    text-align: center;
}
button{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: red;
    text-shadow: 1px 1px white;
    text-align: center;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-image: (linear-gradient(270deg, #ff0000, #000209));
    background-size: 400% 400%;
    box-shadow: 3px 3px black;
    border: hidden;

}

