body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    
}
.center{
    display: flex;
    justify-content: center;
    
}
#addTask{
    background-color: blue;
    color: white;
}
#removeCompleted{
    background-color: yellow;
    color: black;
}
#removeAll{
    background-color: red;
    color: white;
}
h1{
    text-shadow: 8px 8px black;

}
#entryBox{
    border-radius: 10px;
    padding: 10px;
}